.hero {

    &__wrapper {
        margin-left: 40px;
        background-image: url(../../images/22.png);
        background-repeat: no-repeat;
        background-position: cover;

    }

    &__box {
        width: 1440px;
        height: 650px;
        margin-top: 45px;

    }

    &__title {
        padding-top: 153px;
        margin-left: 169px;
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
        color: #FFFFFF;
        max-width: 500px;
    }

    &__inner {
        display: flex;
        align-items: center;

    }

    &__desc {
        margin-left: 200px;
        margin-right: 40px;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
        max-width: 405px;
    }

    &__btn {
        margin-top: 40px;
        margin-left: 200px;
    }

}

@media only screen and (max-width:1226) {
    .hero {

        &__box {
            max-width: 573px;
        }

        &__title {
            margin: 0;
            padding: 0;
            margin-left: 150px;
            font-size: 26px;
            width: 573px;
            text-align: center;
        }

        &__desc {
            margin: 0;
            padding: 0;
            width: 90%;
            text-align: center;
        }

        &__line {
            display: none;
        }
    }
}