.possibilities {
    &__container {
        margin-top: 160px;
    }
    &__box-line {
        max-width: 850px;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        margin-left: 165px;
        margin-top: 95px;
    }

    &__list {
        margin: 0;
        padding: 0;
        margin-left: 165px;
        display: flex;
        align-items: center;
        list-style: none;
    }

    &__item {
        width: 350px;
    }

    &__item +  &__item  {
        margin-left: 30px;
    }

    &__title {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07143px;
        color: #495567;
    }

    &__text {
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
    }
}

@media only screen and (max-width: 1474px) {
    &__container {
        max-width: 1040px;
        display: flex;
    }

    &__box-line {
       flex-direction: column-reverse;
    }

    &__list {
        display: block;
    }

    &__item {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}
