.possibilities {
    &__heading {

    }

    &__box-line {
        max-width: 1000px;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        margin-left: 165px;
        margin-top: 95px;
      }
}