.rounds {

    &__wrapper {
        margin-top: 147px;
        display: flex;
    }

    &__wrapper:nth-child(odd) {
      flex-direction: row-reverse;

    }

    .second {
        margin-right: 165px;
    }

    .third {
        margin-left: 165px;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        padding-left: 165px;
    }

    &__item {
        width: 445px;

    }

    &__title {
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: #495567;
    }

    &__text {
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
        margin-bottom: 40px;
    }

    &__img {
        margin-left: 83px;
    }
}