.work {
    &__container {
        margin-top: 344px;
    }

    &__heading {
        margin-bottom: 80px;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
    }

    &__img {
        margin-left: 40px;
    }

    &__list {
        list-style: none;
        display: flex;
        align-items: center;
    }

    &__item {
        margin: 0;
        padding: 0;
        max-width: 285px;
    }

    &__item + &__item {
        margin-left: 85px;
    }

    &__number {
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FDD6BA;
    }

    &__title {
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #333D4B;
        max-width: 255px;
    }

    &__desc {
        line-height: 26px;
        color: #333D4B;
        max-width: 285px;
    }

&__btn {
    margin-left: 40px;
}
}